---
- name: Configure Zabbix Agent
  hosts: all

  vars_files:
    - vars.yml

  vars_prompt:
    - name: server_ip
      prompt: zabbix ip
      default: 127.0.0.1
      private: false

    - name: as_root
      prompt: as a root?
      default: "yes"
      private: false

    - name: installing
      prompt: you wanna installing new agent?
      default: "yes"
      private: false

  tasks:
    - name: Gather packages facts
      ansible.builtin.package_facts:

    - name: Include dependencies tasks
      ansible.builtin.include_tasks: dependencies.yml

    - name: Include install-agent tasks
      ansible.builtin.include_tasks: install-agent.yml
      when: installing | lower == "yes" or installing | lower == "y"

    - name: Traceroute to zabbix server
      ansible.builtin.script: "{{ playbook_dir }}/scripts/find-zbxserver.sh {{ server_ip }}"
      register: passive_server

    - name: Find hostname of target host in zabbix
      ansible.builtin.script: >
        "{{ playbook_dir }}/scripts/find-hostname.py
        -s {{ server_ip }}
        -i {{ inventory_hostname }}
        -u {{ zabbix_username }}
        -p {{ zabbix_password }}"
      delegate_to: localhost
      register: zbx_hostname

    - name: SCP zabbix_agentd.conf
      ansible.builtin.template:
        src: zabbix_agentd.conf.j2
        dest: /etc/zabbix/zabbix_agentd.conf
        owner: zabbix
        group: zabbix
        mode: '0644'

    - name: SCP zabbix-agent init service
      ansible.builtin.template:
        src: zabbix-agent.j2
        dest: /etc/default/zabbix-agent
        owner: zabbix
        group: zabbix
        mode: '0644'
      when: ansible_distribution_major_version == "14"

    - name: SCP zabbix-server systemd service
      ansible.builtin.template:
        src: zabbix-agent.service.j2
        dest: /lib/systemd/system/zabbix-agent.service
        owner: zabbix
        group: zabbix
        mode: '0644'
      when: ansible_distribution_major_version != "14"

    - name: Create userparameter directory
      ansible.builtin.copy:
        src: "{{ playbook_dir }}/../userparameters/{{ up_group }}/"
        dest: /etc/zabbix/zabbix_agentd.d/
        owner: zabbix
        group: zabbix
        mode: '0755'

    - name: Restart agent
      ansible.builtin.service:
        name: zabbix-agent
        state: restarted
        enabled: true
      when: ansible_distribution_major_version == "14"

    - name: Restart agent
      ansible.builtin.systemd:
        name: zabbix-agent
        daemon_reload: true
        enabled: true
        state: restarted
      when: ansible_distribution_major_version != "14"
...
